.container{
    height: 40vh;
    width: 30vw;
    border: 2px solid black;
    background-color: rgb(6, 242, 250);
    /* border-radius: 99px; */
    
}
img{
    width: 30vw;
    height: 40vh;
    /* object-fit: cover; */
    object-position: middle;
    /* object-fit: contain; */
    object-fit: fill;
}